<aside class="bg-dark" id="press">
    <div class="container text-center">
        <div class="call-to-action">
            <!-- <h2>Pressematerial Herunterladen</h2> -->
            <a href="static/presse.zip" class="btn btn-default btn-xl wow tada">Pressematerial Herunterladen</a>
        </div>
    </div>
</aside>
