<section class="bg-dark" id="dates">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Filmauszeichnungen</h2>
                <hr>
                <table class="left" border="2" cellspacing="5" cellpadding="30"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Datum</th>
                            <th scope="col">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Award Winner</td>
                            <td><a href="https://filmfreeway.com/AccoladeAwardsCompetition">Accolade Global Film Competition</a> </td>
                        </tr>

                        <tr>
                            <td>Award Winner</td>
                            <td><a href="https://filmfreeway.com/BestDocumentaryAward">Best Documentary Award- London</a></td>
                        </tr>

                        <tr>
                            <td>Award Winner</td>
                            <td>The IndieFEST Film Awards</td>
                        </tr>

                        <tr>
                            <td>Award Winner</td>
                            <td>Los Angeles Movie Awards</td>
                        </tr>

                        <tr>
                            <td>Finalist</td>
                            <td>Aphrodite Film Awards</td>
                        </tr>

                        <tr>
                            <td>Semi-Finalist</td>
                            <td>Chicago Indie Film Awards</td>
                        </tr>

                        <tr>
                            <td>Selected</td>
                            <td>Nawada International Film Festival</td>
                        </tr>
                        <tr>
                            <td>Selected</td>
                            <td>Toronto International Women Film Festival</td>
                        </tr>
                        <tr>
                            <td>Selected</td>
                            <td>Accolade Global Film Competition</td>
                        </tr>
                        <tr>
                            <td>Selected</td>
                            <td>WRPN Women's International Film Festival</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>
