<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation umschalten</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">GOSIA@TOMEK</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Der Film</a>
                </li>
                <li>
                    <a class="page-scroll" href="#dates">Aufführungen</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Emails an Tomek</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Stills</a>
                </li>
                <li>
                    <a class="page-scroll" href="#credits">Credits</a>
                </li>
                <li>
                    <a class="page-scroll" href="#press">Presse</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
