<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Auszüge aus den täglichen Mails</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
            <i class="fa fa-4x fa-chain-broken wow bounceIn text-primary" data-wow-delay=".2s"></i>
            <h3>08.09.2013, Tag 1</h3>
            <p class="text-justify">Ich schreibe Dir, während Du im Krankenhaus liegst. Ich vermisse Dich sehr. Ich
                habe es geschafft, heute zwei Mal bei Dir zu sein. Beim ersten Mal war Dein
                Gesicht stark geschwollen, abends nahm es wieder seine normale Form an. Du bist
                so hübsch, mein Schöner. Heute sind wir nicht unsere 30km beim Marathon
                gelaufen, aber mach Dir keine Sorgen, ich werde damit auf Dich warten. Du bist
                alles für mich&#x2026;
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
            <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
            <h3>08.09.2013</h3>
            <p class="text-justify">Du bist mein ganzes Leben, meine Glückseligkeit. Du weißt ganz
                genau, dass ich so lange auf Dich gewartet habe, dass Du der Einzige für mich
                bist. Du sollst sieben Tage im künstlichen Koma bleiben. Das wird wohl die längste
                Woche meines Lebens werden.
                Ich weiß, dass alles wieder gut werden wird, ich fühle es mit jeder Faser meines Körpers.
                Schlaf schön, damit Du wieder zu Kräften kommst!

            </p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
            <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
            <h3>19.03.2019, Tag 2.074</h3>
            <p class="text-justify">Als ich meine erste Email an Dich schrieb,
                dachte ich, dass nach sieben Tagen alles wieder zur Normalität
                zurückkehren würde, denn Du solltest ja lediglich sieben Tage lang
                im Koma bleiben. Jetzt sind 2.074 Tage vorüber, Tage ohne Deine
                Stimme, Dein Lachen, was immer noch in meinem Kopf klingt. 2.074
                Tage eines großen Kampfes. 2.074 Tage eines noch größeren Glaubens
                und einer noch größeren Hoffnung.
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
            <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary"></i>
            <h3>25.03.2019, Tag 2.080</h3>
            <p class="text-justify">Ich fühle mich so einsam. Als ich mit den
                Hunden draußen war, habe ich wieder an
                den Tod gedacht. Daran, dass ich kein Begräbnis wollen würde, keine Priester,
                keinen Grabstein, keinen Gedenkort. Heute habe ich wieder daran
                gedacht, wie unausweichlich es ist, dass ich Euch eines Tages verlassen muss. Das ist
                wirklich bestürzend, ich habe sogar darüber nachgedacht, wie es
                wäre, wenn wir alle zusammen gehen würden&#x2026;
            </p>
        </div>
    </div>
</section>
