<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include dates.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include credits.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
